bottleneck
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
joblib
kiwisolver
matplotlib
networkx
numexpr
numpy
packaging
pandas
PyQt5
requests
scikit-learn
scipy
setuptools
torch
torchvision
tqdm
typeguard
urllib3
wheel
xgboost
typing; python_version<"3.5"  # Optional if using older Python versions
